name: Build Release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    #	配置权限
    permissions:
      contents: write
    runs-on: ubuntu-latest
    outputs:
      TAG: ${{ steps.get_tag.outputs.TAG }}
    steps:
      - name: Checkout code with submodules
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: "Set up JDK 21"
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'zulu'
          cache: gradle
      - name: "Build with Gradle"
        run: |
          chmod +x gradlew
          ./gradlew clean shadowJar -PBuildFull=false
          ./gradlew shadowJar -PBuildFull=true
      - name: "Stage"
        run: |
          mkdir -p staging
          mv build/libs/*.jar staging/
      - name: "Get Tag"
        id: get_tag
        run: |
          echo "TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
      - name: "Upload Artifacts"
        uses: actions/upload-artifact@v4
        with:
          name: release-artifacts
          path: staging/

  release-github:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: "Download Artifacts"
        uses: actions/download-artifact@v4
        with:
          name: release-artifacts
          path: staging
      - name: "GitHub Release"
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "${{ needs.build.outputs.TAG }}"
          prerelease: false
          files: |
            staging/*.jar

  release-modrinth:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: "Download Artifacts"
        uses: actions/download-artifact@v4
        with:
          name: release-artifacts
          path: staging
      - name: "Modrinth Release"
        uses: dsx137/modrinth-release-action@main
        env:
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
        with:
          name: ${{ needs.build.outputs.TAG }}
          project_id: vVZc7jAV
          loaders: bukkit,folia,paper,purpur,spigot
          game_versions: 1.20.x, 1.21.x
          version_number: ${{ needs.build.outputs.TAG }}
          files: |
            staging/*-lite.jar
          changelog: "See https://github.com/ColdeZhang/Dominion/releases/tag/${{ needs.build.outputs.TAG }}"
          version_type: beta
          featured: false

  release-hangar:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code with submodules
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: "Set up JDK 21"
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'zulu'
          cache: gradle
      - name: "Hangar Release"
        env:
          HANGAR_TOKEN: ${{ secrets.HANGAR_API_TOKEN }}
        run: |
          chmod +x gradlew
          ./gradlew publishPluginPublicationToHangar -PBuildFull=false
